{% extends 'base.html.twig' %}

{% block title %}Edit RideOrder{% endblock %}

{% block body %}
    <h1>Edit RideOrder</h1>

    {{ include('ride_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ride_order_index') }}">back to list</a>

    {{ include('ride_order/_delete_form.html.twig') }}
{% endblock %}
